
.icon-basket:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-help:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-user-plus:before { content: '\e80b'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-flight:before { content: '\e80f'; } /* '' */
.icon-cab:before { content: '\e810'; } /* '' */
.icon-user-md:before { content: '\e811'; } /* '' */
.icon-eye-off:before { content: '\e812'; } /* '' */
.icon-left-open-1:before { content: '\e813'; } /* '' */
.icon-right-open-1:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\e815'; } /* '' */
.icon-wrench:before { content: '\e816'; } /* '' */
.icon-chart-pie:before { content: '\e817'; } /* '' */
.icon-ok:before { content: '\e818'; } /* '' */
.icon-upload:before { content: '\e819'; } /* '' */
.icon-logout:before { content: '\e81a'; } /* '' */
.icon-key:before { content: '\e81b'; } /* '' */
.icon-doc-text:before { content: '\e81c'; } /* '' */
.icon-whatsapp:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */
.icon-star:before { content: '\e821'; } /* '' */
.icon-print:before { content: '\e824'; } /* '' */
.icon-search:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-globe:before { content: '\e82a'; } /* '' */
.icon-spin2:before { content: '\e82c'; } /* '' */
.icon-alimentacao:before { content: '\e82d'; } /* '' */
.icon-educacao:before { content: '\e82f'; } /* '' */
.icon-real:before { content: '\e830'; } /* '' */
.icon-outros:before { content: '\e831'; } /* '' */
.icon-saude:before { content: '\e832'; } /* '' */
.icon-todos_convenios:before { content: '\e833'; } /* '' */
.icon-veiculos:before { content: '\e834'; } /* '' */
.icon-vestuario:before { content: '\e835'; } /* '' */
.icon-eletronicos:before { content: '\e836'; } /* '' */
.icon-beleza:before { content: '\e837'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */